.size-12 {
	font-size:12px
}
.size-14 {
	font-size:14px
}
.size-16 {
	font-size:16px
}
.size-18 {
	font-size:18px
}
.size-21 {
	font-size:21px
}
.size-24 {
	font-size:24px
}
.size-28 {
	font-size:28px
}
.size-32 {
	font-size:32px
}
.size-35 {
	font-size:35px
}
.size-38 {
	font-size:36px
}
.size-42 {
	font-size:42px
}
.size-46 {
	font-size:46px
}
.size-48 {
	font-size:48px
}
.size-50 {
	font-size:50px
}
.size-54 {
	font-size:54px
}
.size-60 {
	font-size:60px
}
.size-64 {
	font-size:64px
}
.size-68 {
	font-size:68px
}
.size-72 {
	font-size:72px
}
.size-76 {
	font-size:76px
}
.size-80 {
	font-size:80px
}
.size-84 {
	font-size:84px
}
.size-88 {
	font-size:88px
}
.size-92 {
	font-size:92px
}
.size-96 {
	font-size:96px
}
.size-100 {
	font-size:100px
}
.size-104 {
	font-size:104px
}
.size-108 {
	font-size:108px
}
.size-112 {
	font-size:112px
}
.size-116 {
	font-size:116px
}
.size-120 {
	font-size:120px
}
.size-124 {
	font-size:124px
}
.size-128 {
	font-size:128px
}
.size-132 {
	font-size:132px
}
.size-136 {
	font-size:136px
}
.size-140 {
	font-size:140px
}
.size-144 {
	font-size:144px
}
.size-148 {
	font-size:148px
}
.size-152 {
	font-size:152px
}
.size-156 {
	font-size:156px
}
.size-160 {
	font-size:160px
}
.size-164 {
	font-size:164px
}
.size-168 {
	font-size:168px
}
.size-172 {
	font-size:172px
}
.size-176 {
	font-size:176px
}
.size-180 {
	font-size:180px
}
.size-184 {
	font-size:184px
}
.size-188 {
	font-size:188px
}
.size-192 {
	font-size:192px
}
.size-196 {
	font-size:196px
}
.size-200 {
	font-size:200px
}
.size-204 {
	font-size:204px
}
.size-208 {
	font-size:208px
}
.size-212 {
	font-size:212px
}
.size-216 {
	font-size:216px
}
.size-220 {
	font-size:220px
}
