/*	0. CSS Reset
/* -------------------------------------------------------------------------- */


html,
body {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
    border: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;

}

blockquote::before,
blockquote::after {
    content: "";
}


a {
    text-decoration: none;
}

/*
    CSS Reset ended
*/


/*
    CSS Utility Classes
*/


input, textarea, button {
    font-family: inherit;
}

body, html {
    height: max-content;
    font-size: 1rem;
}

.no-margin {
    margin: 0px !important;
}

