.ew .l-inline {
    display: inline;
}
.ew .l-flex {
    display: flex;
}
.ew .l-flex-column {
    flex-flow: column;
}
.ew .l-flex-row {
    flex-flow: row;
}
.ew .l-center-hr {
    justify-content: center;
}
.ew .l-center-hc {
    align-items: center;
}
.ew .l-center-vr {
    align-items: center;
}
.ew .l-center-vc {
    justify-content: center;
}
.ew .l-flex-wrap {
    flex-wrap: wrap;
}
.ew .l-flex-space-btwn {
    justify-content: space-between;
}
.ew .l-flex-space-evenly {
    justify-content: space-between;
}
.ew .l-center {
    margin: auto;
}
.ew .l-half {
    width: 50%;
}
.ew .text-no-wrap {
    white-space: nowrap;
}
.ew .mb-50 {
    margin-bottom: 50px;
}
