/* Make element dispay inline */
.l-inline {
    display: inline;
}

/* Make the display flex */
.l-flex {
    display: flex;
}

/* Flex flow-direction, colum */

.l-flex-column {
    flex-flow: column;
}

.l-flex-row {
    flex-flow: row;
}


/* Center Horizontaly for flex-flow is row */
.l-center-hr {
    justify-content: center;
}

/* Center Horizontaly for flex-flow is column */
.l-center-hc {
    align-items: center;
}


/* Center Verically for flex-flow is row */
.l-center-vr {
    align-items: center;
}

/* Center Verically for flex-flow is column */
.l-center-vc {
    justify-content: center;
}

/*Make flex item wrap*/
.l-flex-wrap {
    flex-wrap: wrap;
}


.l-flex-space-btwn {
    justify-content: space-between;
}

.l-flex-space-evenly {
    justify-content: space-between;
}


.l-flex-end {
    justify-content: flex-end;
}

/*For align-items*/

.l-flex-ai-end {
    align-items: flex-end;
}

/* Center Horizontally Non FLex item */
.l-center {
    margin: auto;
}


.l-half {
    width: 50%;
}

.text-no-wrap {
    white-space: nowrap;
}

/* Margin Values */


/* Page Specific Layouts */


/*Send Message*/
.sent {
    align-items: flex-end;
}

/*Recieveed Message*/
.recieved {
    align-items: flex-start;
}




